<div style="font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;">
    <center>
        <div style="background-color: #07152f; width: 700px;">
            <img src="https://i.imgur.com/ZnWcJbI.png" />
        </div>
        <h1>Please confirm your email account here</h1>

        <a href="{url}"
           style="background-color:#B00038;
		border-radius:2px;
		border:1px solid #07152f;
		display:inline-block;color:#07152f;
		font-family:Arial;font-size:15px;
		font-weight:bold;padding:6px 24px;
		text-decoration:none" target="_blank"
        >Activate</a>
        <br><br>
        <div style="background-color: #07152f; width: 700px; color: #ffffff;">
            <table style="width: 681px;color:inherit;">
                <tbody>
                <tr>
                    <td style="width: 35px;">&nbsp;</td>
                    <td style="width: 550.5px;">Copyright &copy; 2020 MoYobuDb Please read our Privacy Policy . Please do not attempt to respond to this message as replies go to an unmonitored email box.</td>
                    <td style="width: 32.5px;">&nbsp;</td>
                    <td style="width: 81px;"><img src="https://i.imgur.com/BfAch1F.png" alt="" width="60" height="60" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </center>
</div>