@* <nav> *@
@*     <a asp-page="./Index">Profil</a> *@
@*     <a id="change-password" asp-page="./ChangePassword">Změnit heslo</a> *@
@*     <a asp-page="./TwoFactorAuthentication">Dvoufázové ověřování</a> *@
@*     <a asp-page="./PersonalData">Osobní data</a> *@
@* </nav> *@