body{
    padding: 0;
    margin: 0;
    /background-image: url(../images/bg.jpg);
    /background-color: #0a0a0a;
    background-color: #0a0a0a;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    font-family: 'Roboto', sans-serif;
    color: #9d9d9d;

}
a{
    text-decoration: none;
    color: #9d9d9d;
}
body div.main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track
{
    background-color: #000000;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    background-color: #1e1e1e;
}

:root{
    scrollbar-color: #1e1e1e #000000 !important;
    scrollbar-width: 12px !important;
}

footer{
    grid-column: 1/4;
}