.edit-content{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    /*! grid-template-columns: 1fr 1fr; */
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0.5);
}
.edit-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 7fr;
    grid-template-columns: 1fr 7fr;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 80%;
    grid-gap: 1rem;
    margin: 1rem auto 3rem auto;
}

.edit-container nav {
    border-radius: 3px;
    background-color: #191919;
    padding: 0.5rem;
    display: -ms-grid;
    display: grid;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    grid-gap: 0.5rem;
}

.edit-container nav a {
    padding: 0.5rem;
    background-color: #222;
    border-radius: 3px;
}
.edit-container .prava {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(341px, 1fr) );

    height: max-content;
    grid-gap: 1rem;
    width: 100%;
}
.edit-container form {
    /* vymazat */
    margin-left: 50px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #191919;
    border-radius: 3px;
    padding: 0 0.5rem;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    height: max-content;
}

.edit-container form .form-group {
    background-color: #222;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 1rem 0;
    display: inline-table;
}

.edit-container form .form-group .control-label {
    margin: 0.5rem;
}

.file-input{
    visibility: hidden;
}

.edit-container form .form-group input.form-control {
    box-sizing: border-box;
    background-color: #191919;
    border-radius: 3px;
    width: 100%;
    border: none;
    font-size: 1.2rem;
    color: #9d9d9d;
    font-family: inherit;
    height: 2rem;
    margin: auto 0 auto 0;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.edit-container form .form-group div.file {
    background: #191919;
    margin: 0 auto;
    padding: 1rem;
}

.edit-container form .form-group div.file ol {
    padding-left: 0;
    margin-bottom: 0;
}

.edit-container form .form-group div.file li,
.edit-container form .form-group div.file div > p {
    background: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    border-radius: 3px;
}

.edit-container form .form-group div.file img {
    height: 64px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    grid-column: 2;
    margin: auto;
    border-radius: 3px;
}

.edit-container form .form-group div.file p {
    line-height: 32px;
    padding: 0 0.5rem;
    margin: 0;
}

.edit-container form .form-group div.file label {
    background-color: #121212;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
}

.edit-container form .form-group div.file label:active {
    background-color: #050505;
    color: white;
}

.edit-container form .form-group .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.edit-container form .form-group .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.edit-container form .form-group .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #191919;
    padding: 8px 15px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.edit-container form .form-group .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #9d9d9d transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.edit-container form .form-group .select-styled:hover {
    background-color: #0f0f0f;
}

.edit-container form .form-group .select-styled:active,
.edit-container form .form-group .select-styled.active {
    background-color: #0f0f0f;
}

.edit-container form .form-group .select-styled:active:after,
.edit-container form .form-group .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #9d9d9d transparent;
}

.edit-container form .form-group .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #0f0f0f;
}

.edit-container form .form-group .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #0f0f0f;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.edit-container form .form-group .select-options li:hover {
    color: #c7c7c7;
    background: #1e1e1e;
}

.edit-container form .form-group .select-options li[rel="hide"] {
    display: none;
}

.edit-container form .form-group .btn {
    width: 100%;
    background-color: #191919;
    border: none;
    height: 2rem;
    font-size: 1.2rem;
    color: #9d9d9d;
}

.edit-container form .form-group .selectize-control.single  .selectize-input {
    background-color: #191919;
    color: #9d9d9d;
    border: none;
}
.edit-container form .form-group .selectize-dropdown {
    background-color: #202020;
    color: #9d9d9d;
}
.edit-container form .form-group .acrive {
    background-color: blueviolet;
}
