.z1{
  z-index: 2;
}
.z2{
  z-index: 2;
  position: relative;
}  
.X{
  position: absolute;
  right: 0;
  font-size: 2rem;
  font-family: "Russo One";
  top: 6rem;
  cursor: pointer;
}

.search-background {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
}
.search-background.exit {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.search-background .search-overlay {
  display: -ms-grid;
  display: block;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 1rem;
  padding-bottom: 4rem;
  position: relative;
  min-width: 50%;
  margin: auto;
  max-width: 75%;
}

.search-background .search-overlay input#searchBox {
  margin: 7% auto 1.5rem auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 30%;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #191919;
  border: none;
  border-radius: 3px;
  color: #9d9d9d;
}

.search-background .search-overlay .search-results {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:(1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


.search-background .search-overlay .search-results .search-anime,
.search-background .search-overlay .search-results .search-manga,
.search-background .search-overlay .search-results .search-studio {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.search-background .search-overlay .search-results .result {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content auto;
      grid-template-columns: -webkit-max-content auto;
      grid-template-columns: max-content auto;
  grid-gap: 1rem;
  position: relative;
  padding: 1rem;
  background-color: #191919;
  border-radius: 3px;
}

.search-background .search-overlay .search-results .result img {
  width: 3.5rem;
}

.search-background .search-overlay .search-results .result .text {
  margin-top: auto;
}

.search-background .search-overlay .search-results .result .text p {
  margin: 0;
  bottom: 0;
}

@media (max-width: 1200px) {
  .search-background .search-overlay {
    max-width: 90%;
  }
  .search-background .search-overlay input#searchBox {
    width: 45%;
    margin: 7% auto 1.5rem 27%;
  }

}

@media (max-width: 870px) {
  .search-background .search-overlay input#searchBox {
    width: 85%;
    margin: 7% auto 1.5rem 7%;
  }
  .search-background .search-overlay .search-results {
    display: block;
  }
}
