body div.main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    column-gap: 25px;
    padding: 25px;
}

div.arrows {
    width: 30px;
    height: 50px;
    top: 0px;
}

div h2 {
    font-family: Russo One;
    font-size: 3rem;
    margin: 0;
}

.anime, .manga {
    text-align: center;
}

div.name {
    left: 0px;
    top: 123px;
    width: 100px;
    height: 20px;
    position: absolute;
    color: #9D9D9D;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.galery-width{
    width: 625px
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



/*jssor slider arrow skin 092 css*/
.jssora092 {
    display: block;
    position: absolute;
    cursor: pointer;
}
.jssora092 .c {fill: #000;fill-opacity: 0.5;}
.jssora092 .a {fill: #ddd;}
.jssora092:hover {opacity: 0.8;}
.jssora092.jssora092dn {opacity: 0.5;}
.jssora092.jssora092ds {opacity: 0.3;pointer-events: none;}

@media (max-width: 600px) {
    .galery-width{
        width: 310px;
    }
}