﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.wht{
    color: #9d9d9d;
}

.set-back{
    background-color: #191919;
    padding: 2rem;
}

body.welcome {
    background-image: url(../images/bg.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /* dom */
    margin-top: 40px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.dark_text{
    color: #444444;
    font-weight: bold;
}

a.paginace-url{color: #000000!important;}
a.paginace-url:hover{text-decoration: none!important;color: inherit!important;}
a.paginace-url:visited{color: inherit!important;}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-50vv{border-color:#009fcc;text-align:center;vertical-align:top}
.tg .tg-ci7z{background-color:#009fcc;color:#ffffff;border-color:#009fcc;text-align:center;vertical-align:top}
.tg-ci7z-a{color: #ffffff;}
.tg .tg-o457{border-color:#009fcc;text-align:center;vertical-align:middle}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
