@model MoYobuDb.Models.Tables.Staff

@{
    ViewData["Title"] = "Editovat staffs";
    Layout = "_Layout_FORMS";
}

<form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="staffId"/>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control"/>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameNative" class="control-label"></label>
                <input asp-for="nameNative" class="form-control"/>
                <span asp-validation-for="nameNative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label"></label>
                <input asp-for="surname" class="form-control"/>
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surnameNative" class="control-label"></label>
                <input asp-for="surnameNative" class="form-control"/>
                <span asp-validation-for="surnameNative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}