body .anime-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-gap: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3em;
}

body .anime-content img.cover {
    width: 15em;
}

.img-button{
    height: 65%;
    width: 100%;
    padding: 0.45em 0;
}

/* ----------------------------------------------- description */


body .anime-content .description-box {
    position: relative;
}

body .anime-content .description-box h1 {
    margin-left: 1em;
    margin-top: 4em;
}

body .anime-content .description-box div.description {
    background-color: #191919;
    padding: 2em;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}

body .anime-content .description-box div.description .desc-text {
    height: 90px;
    overflow: hidden;
    overflow-wrap: break-word;
}

body .anime-content .description-box div.description .desc-text:hover + .open {
    -webkit-box-shadow: 0px -4px 30px rgb(25, 25, 25);
    -moz-box-shadow: 0px -4px 30px rgb(25, 25, 25);
    box-shadow: 0px -4px 30px rgb(25, 25, 25);
}

body .anime-content .description-box div.description .open {
    position: relative;
    width: 100%;
    display: none;
}

body .anime-content .description-box div.description .open img.arrowimg {
    margin: 7px auto 0 auto;
    height: 18px;
    width: 100%;
    transform: scaleY(1);
    transition: all 0.5s;
}

body .anime-content .description-box div.description .open img.arrowimg.flip {
    transform: scaleY(-1);
}

/* ----------------------------------------------- sidebar */

.sidebar {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 1em;;
}

/* ----------------------------------------------- quick info */

img.arrowimg2 {
    margin: 7px auto 0 auto;
    height: 18px;
    width: 100%;
    transform: scaleY(1);
    transition: all 0.5s;
}
img.arrowimg2.flip {
    transform: scaleY(-1);
}

body .anime-content .quick-info {
    border-radius: 3px;
    margin: 1em;
    background-color: #191919;
}

body .anime-content .quick-info-btn {
    display: none;
    background-color: #191919;
    padding: 0.7em;
    text-align: center;

}

body .anime-content .quick-info .bulet {
    display: -ms-grid;
    display: grid;
    padding: 0.3em;
}

body .anime-content .quick-info .bulet span {
    margin: 0.3em 1em 0.3em 1em;
    font-size: 0.9em;
}

body .anime-content .quick-info .bulet span h3 {
    font-size: 1.3em;
    margin: 0.3em 0;
}

.like {
    height: 40px;
    background-color: #0f0f0f;
}

.like img {
    height: 65%;
    width: 100%;
    padding: 0.45em 0;
}

.first {
    grid-template-columns: 80% 20%;
    background-color: #191919;
    display: -ms-grid;
    display: grid;
    padding: 0.3em;
    margin: 0 1em;
    border-radius: 3px;
}

/* ----------------------------------------------------- main info */

body .anime-content .overview {
    margin-left: 1em;
}

div.category h3 {
    background-color: #191919;
    padding: 0.5em;
    width: max-content;
    border-radius: 3px;
}

.category h3.rew-head {
    display: inline-block;
}

.category h3.rew-head.add {
    font-size: 0.9em;
}

.category .category-wrap {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
}

.char {
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}

.voice {
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
}

.rew {
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.category .category-wrap .img-wrap {
    background-color: #191919;
    margin: auto;
    border-radius: 3px;
    width: 14em;
}

.category .category-wrap .img-box {
    position: relative;
    width: 6em;
    padding: 0.5em;
    background-color: #191919;
    margin: auto;
    border-radius: 3px;
    float: left;
}

.category .category-wrap .img-box img {
    width: 6em;
    display: block;
}

.category .category-wrap .img-box p.name {
    position: absolute;
    bottom: 0.5em;
    margin: auto;
    min-height: 2.3em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-wrap: break-word;
    width: 6em;
}

.category .category-wrap .img-box p.role {
    position: absolute;
    bottom: 0.5em;
    margin: auto;
    width: 6em;
    min-height: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-wrap: break-word;
}

.category .category-wrap .rew-box {
    background-color: #191919;
    position: relative;
    padding: 0.5em;
    background-color: #191919;
    margin: auto;
    border-radius: 3px;
    float: left;
}

.category .category-wrap .rew-box .rew-box-title {
    color: #d4d4d4;
}

.category .category-wrap .rew-box .rew-box-text {
    max-height: 6.9em;
    overflow: hidden;
}

.category .category-wrap .rew-box .rew-box-name {
    text-align: right;
    color: #d4d4d4;
}



/* ------------------------------------------------ dropdown list  */

form {
    margin: 0;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    width: 100%;
    height: 40px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #141414;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #9d9d9d transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.select-styled:hover {
    background-color: #0f0f0f;
}

.select-styled:active, .select-styled.active {
    background-color: #0f0f0f;
}

.select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #9d9d9d transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #0f0f0f;
}

.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #0f0f0f;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.select-options li:hover {
    color: #c7c7c7;
    background: #1e1e1e;
}

.select-options li[rel="hide"] {
    display: none;
}


@media (max-width: 1000px) {
    div.anime-content {
        -ms-grid-columns: 1fr;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/4;
        padding: 0.5em;
        grid-template-columns: 2fr 3fr;
        display: grid;
    }

    div.anime-content img.cover {
        width: 70%;
        grid-column: 1/4;
        padding: 0 15%;
    }

    body .anime-content .description-box {
        grid-column: 1/4;
    }
    body .anime-content .description-box div.description {
        position: relative;
    }

    body .anime-content .description-box h1 {
        margin: 1em;
        text-align: center;
    }
}

@media (max-width: 600px) {
    
    div.anime-content {
        display: initial;
    }
    
    div.anime-content img.cover {
        width: 100%;
        padding: 0;
    }

    body .anime-content .quick-info {
        text-align: center;
        margin: 0;
        height: 0px;
        overflow: hidden;
    }

    body .anime-content .quick-info-btn {
        display: block;
    }
    .first{
        margin: 0;
        border-radius: 3px 3px 0 0 ;
    }
    body .anime-content .quick-info-btn {
        border-radius: 0 0 3px 3px;

    }
    body .anime-content .quick-info {
        border-radius: 0;

    }
}