body div.main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    column-gap: 25px;
    padding: 25px;
}

div.arrows {
    width: 30px;
    height: 50px;
    top: 0px;
}

div h2 {
    font-family: Russo One;
    font-size: 3em;
    margin: 0;
}

.anime, .manga {
    text-align: center;
}

div.name {
    left: 0px;
    top: 123px;
    width: 100px;
    height: 20px;
    position: absolute;
    color: #9D9D9D;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}