﻿.profil-menu img{
    background-color: #191919;
    height: 10rem;
    border-radius: 3px;
}
.profil-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: rgba(0, 0, 0, 0.5);
    grid-template-columns: 2fr 3fr;
    column-gap: 25px;
    padding: 25px;
}

.profil-menu{
     grid-column: 1/3;
 }
.profil-menu-nav{

    margin-top: 1rem;
}
.profil-menu-nav-btns {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    text-align: center;
    grid-gap: 0.5rem;
}

.profil-menu-nav-btns a{
    padding: 1rem;
    background: #191919;
    border-radius: 3px;
}
.profil-aboutMe{
    background-color: #191919;
    margin: 1.5rem;
    padding: 1rem;
    max-height: 557px;
    word-wrap: break-word;
    overflow: auto;
}

.profil-info{
    background-color: #191919;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    height: max-content;
    text-align: center;
}
.profil-info-anime, .profil-info-manga{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,0.5fr));
}
.profil-info h2 {
    font-family: "Russo One", serif;
    font-size: 2rem;
    grid-column: 1/3;
}

@media (max-width: 800px) {
    .profil-content{
        grid-template-columns: 1fr;
    }    
}