<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/body.css"/>
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/characters.css"/>
    <link rel="stylesheet" href="~/css/livesearchOverlay.css"/>
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/24043e2d5b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="~/js/livesearchOverlay.js"></script>
</head>
<body>
<partial name="_Menu"/>
<div class="background-postavy">
    <div class="container-postavy">
        @RenderBody()
    </div>
</div>
@* <partial name="_Footer"/> *@
</body>
</html>