@{
    ViewData["Title"] = "O nás";
    Layout = "_Layout_HomePage";
}

<div class="background-about">
      <div class="container-about">
        <div class="about-profil">
        <img src="~/images/dom.jpg" width="230" alt="face" />
          <div class="about-info">
            <h3>Dominik Mandinec</h3>
            @* <br><div>Back-end, databáze</div> *@
            <p>
              Lenící student na UHK, rád hraje hry (zejména smite) a na kytaru. Rád by se naučil plynule japonštinu a rád by se do Japonska i podíval. Má rád samotu, ale i posezení s přáteli jako grilování či lan párty. 
            </p>
            <h3>Kontakty</h3>
            <div class="kontakty">
              <img src="~/images/email_ico.svg" alt="email" srcset="" />
              <p>mandido1@uhk.cz</p>
            </div>
          </div>
        </div>
        <div class="about-profil">
          <img src="~/images/dave.jpg" width="230" alt="face" />
          <div class="about-info">
            <h3>David Mašek</h3>
            @* <br><div>Front-end, Databáze</div> *@
            <p>
              David nerad píše o sobě, protože neví co psát. Má rád zvířata, zejména vepřové a kuřecí. Stal si mistrem social distancing už od 3 let. Jeho koníček je válet se..
            </p>
            <h3>Kontakty</h3>
            <div class="kontakty">
              <img src="~/images/email_ico.svg" alt="email" srcset="" />
              <p>masekda1@uhk.cz</p>
            </div>
          </div>
        </div>
        <div class="about-profil">
          <img src="~/images/ondra.jpg" width="230" alt="face" />
          <div class="about-info">
            <h3>Ondřej Kůna</h3>
            @* <br><div>Front-end, Grafika</div> *@
            <p>
              Student UHK. Jeho hlavní zájmy jsou PC hry, anime, manga a piráťení. 
            </p>
            <h3>Kontakty</h3>
            <div class="kontakty">
              <img src="~/images/email_ico.svg" alt="email" srcset="" />
              <p>kunaon1@uhk.cz</p>
            </div>
          </div>
        </div>
      </div>
    </div>